@import "./Variables.scss";

.ranking{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    @media(max-width:460px){
        flex-direction: column;
    }
    .ranking__tag-box{
        width: 100vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        margin-left: 100px;
        @media(max-width:811px){
            margin-left: 65px;       
        }
        @media(max-width:760px){
            margin-left: 25px;

        }
        @media(max-width:460px){
            width: 100%;
            margin-left: 35px;
            margin-bottom: 30px;
        }
        @media(max-width: 375px){
            width: 80%;
            margin-left:0px;
            margin-right: 50px;
        }
    }
    .ranking__stars-box{
        display: flex;
        gap: 10px;
        margin-right: 100px;
        @media(max-width:760px){
            margin-right: 65px;
        }
        @media(max-width:460px){
            margin-right: 235px;
            margin-bottom: 10px;
        }
        @media(max-width:375px){
            margin-right: 225px;
            margin-top: -15px;
            margin-left: 20px;
        }
       .star__icone_on{
            color:$main-text-color;
            @media(max-width:375px){
            width: 10%;
            }
        }
        .star__icone_off{
            color: #E3E3E3;
            @media(max-width:375px){
            width: 10%;
            }
        }
    }        
}

.collapse-box{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 31px;
    @media(max-width:760px){
        flex-direction: column;
        gap: 20px;
        width: 100%;
        margin-left: 25px;
    }
    @media(max-width:480px){
        margin-left: 15px;
    }
    .label-block{
        width: 48.7%;
        @media(max-width:811px){
            margin-left: 0px;       
        }
        @media(max-width:760px){
            width: 100%;
        }
        @media(max-width:375px){
         margin-left: 5px;   
        }
    }
        .label-block__label{
            margin: auto;
            width: 37vw;
            font-weight: bold;
            font-size: 24px;
            @media(max-width:760px){
                width: 90%;
                margin-left: 0px;
            }
            @media(max-width:376px){
                font-size: 13px;
                width: 85%;
            }
        }    
        li{
            margin: auto;
            list-style: none;
            @media(max-width:376px){
                font-size: 13px;
            }
        }
        p{
            margin: auto;
            font-family:$main-font-familiy;
            font-size: 15px;
            padding: 5px 0px 0px 5px;
            text-align: left;
            @media(max-width:376px){
                font-size: 13px;
            }
        }
        .label-block__content{
            margin: auto;
            width: 36.8vw;
            @media(max-width:811px){
                padding-bottom: 20px;
                opacity: 0;       
            }
            @media(max-width:760px){
                width: 90%;
                margin-left: 0px;
                opacity: 0;
            }
            @media(max-width:375px){
                 width: 82%;
                 padding-right: 10px;
            }
        }
        
        .label-block__content--visible{
            margin: auto;
            width: 36.8vw;
            height: 120px;
            padding-bottom:10px;
            @media(max-width:811px){
                height: 200px;
                padding-bottom: 20px;       
            }
            @media(max-width:760px){
                width: 90%;
                margin-left: 0px;
                height: 180px;
            }
            @media(max-width:375px){
                width: 82%;
                height: 120px;
                padding-right: 10px;       
            }
        }

}
footer{
    @media(max-width:760px){
        position: relative;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }
    @media(max-width:376px){
        position: relative;
    }
    @media(max-width:375px){
        width: 100%       
    }
}