@import "./Variables.scss";

.ranking{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    .ranking__tag-box{
        width: 100%;
        display: flex;
        gap: 10px;
        margin-left: 150px;
    }
    .ranking__stars-box{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        margin-right: 50px;
        .star__icone_on{
            color:$main-text-color;
        }
        .star__icone_off{
            color: #E3E3E3;
        }
    }        
}

.collapse-box{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 115px;
    .label-block{
        width: 48.7%;
    }
        .label-block__label{
            font-weight: bold;
            font-size: 24px;
        }    
        li{
            list-style: none;
        }
        p{
            font-family:$main-font-familiy;
            font-size: 14px;
            padding: 0px 20px 35px 0px;
            text-align: left;
        }
        .label-block__content{
            width: 72%;
            margin-left: 33px;
        }
        
        .label-block__content--visible{
            width: 72%;
            margin-left: 33px;
            
        }

}