@import "./Variables.scss";

.ranking{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .ranking__tag-box{
        width: 80%;
        display: flex;
        gap: 10px;
        margin-left: 100px;
    }
    .ranking__stars-box{
        display: flex;
        gap: 10px;
        margin-right: 100px;
       .star__icone_on{
            color:$main-text-color;
        }
        .star__icone_off{
            color: #E3E3E3;
        }
    }        
}

.collapse-box{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 31px;
    .label-block{
        width: 48.7%;
    }
        .label-block__label{
            margin: auto;
            width: 37vw;
            font-weight: bold;
            font-size: 24px;
        }    
        li{
            margin: auto;
            list-style: none;
        }
        p{
            margin: auto;
            font-family:$main-font-familiy;
            font-size: 15px;
            padding: 5px 0px 0px 5px;
            text-align: left;
        }
        .label-block__content{
            margin: auto;
            width: 36.8vw;
        }
        
        .label-block__content--visible{
            margin: auto;
            width: 36.8vw;
            height: 120px;
            padding-bottom:10px;
        }

}