@import "./Variables.scss";

.banner {
    margin: auto;
    margin-top: 60px;
    margin-left: 100px;
    margin-bottom: 60px;
    width: 86%;
    background-image: url(../assets/img1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    height: 223px;
    @media (max-width: 760px){
        position: relative;
        width: 90%;
        height: 111px;
        margin-left: 40px;
        margin-bottom: 0px;
    }
    @media (max-width: 376px){
        width: 92.5vw;
        margin-left: 5px;
    }
    .banner-title{
        color : black;
        text-align: center;
        font-family: $main-font-familiy;
        color: $third-text-color;
        font-size: 48px;
        font-weight: 700;
        backdrop-filter: brightness(0.5);
        padding: 82px;
        border-radius: 20px;
        box-shadow: 0px 4px 4px 0px #00000040;
        height: 60px;
        @media (max-width: 760px){
            font-size: 24px;
            height:0px;
            padding: 55px;
            margin-bottom: 20px;
        }
        @media (max-width: 376px){
            font-size: 22px;
            line-height: 25px;
            margin-top: -20px;
            text-align: left;
        }
    }

}    

          




