@import "./Variables.scss";

.cards{
    width: 29.66%;
    height: 120px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $main-text-color;
    padding-bottom: 100px;
    padding-top: 100px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    p{
        width: 60%;
        margin-top: 160px;
        font-size: 14px;
        font-family: $main-font-familiy;
        color: $third-text-color;
        font-weight: 700;
        margin-left: 20px;
    }
}

