@import "./Variables.scss";

.label-block{
    width: 100%;
    @media (max-width:376px){
        width: 100vw;
        margin-left: 10px;
        margin-bottom: -15px;
    }
    
    .label-block__label {
        width: 75%;
        color: white;
        font-size: 28px;
        display: flex;
        justify-content: space-between;
        margin: auto;
        background-color: $main-text-color;
        font-family: $main-font-familiy;
        font-weight: 700;
        padding: 10px 10px 6px 10px;
        border-radius: 5px;
        margin-right: 120px;
        margin-top: 40px;
        margin-bottom: 22px;
        @media (max-width:376px){
            width: 85vw;
            font-size: 13px;
            margin-bottom: -30px;
        }
       }
        .label-block__icone{
            font-size: 28px;
            color: white;
            margin-top: 5px;
            transition: 400ms;
            @media (max-width:376px){
                font-size: 13px;
            }
        }
        .rotate{
            transform: rotate(180deg);
        }
        .label-block__content{
            position: relative;
            bottom: 4px;
            margin: auto;
            width: 73.6%;
            background-color: #f6f6f6;
            border-radius: 5px;
            margin-left: 215px;
            margin-top: -21px;
            padding-left: 20px;
            padding-right: 20px;
            opacity: 1;
            overflow: hidden;
            height: 0px;
            transition: bottom 0.4s, height 0.3s;
            @media (max-width:376px){
                font-size: 13px;
                margin: auto;
                width: 78.5%;
                margin-left: 0px;
                margin-top: 30px;
            }
            }
        
        .label-block__content--visible{
            transition: bottom 0.4s, height 0.3s;
            position: relative;
            bottom: 0px;
            height: 20px;
            opacity: 1;
            width: 73.6%;
            height: 80px;
            margin-left: 215px;
            margin-top: -21px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 2px;
            padding-bottom: 30px;
            background-color:#f6f6f6;
            @media (max-width:376px){
                height: 100px;
                font-size: 13px;
                margin: auto;
                width: 80%;
                margin-left: 0px;
                margin-top: 30px;
                padding-bottom: 0px;
            }
            }
        #text{
            width: 100%;
            margin-bottom: 20px;
        }    
}



