@import "./Variables.scss";

.error{
    .error__title{
        text-align: center;
        color: $main-text-color;
        font-family: $main-font-familiy;
        font-size: 18em;
        @media(max-width: 760px){
            font-size: 11em;
        }
        @media(max-width:376px){
            font-size: 9em;
        }
    }
    .error-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        .error-block__error__text{
            font-size: 2.25em;
            margin: auto;
            text-align: center;
            color: $main-text-color;
            font-family: $main-font-familiy;
            margin-top: -50px;
            margin-bottom: 100px;
            @media(max-width: 760px){
                font-size: 2em;
            }
            @media(max-width:376px){
                font-size: 1.9em;
            }
        }
        .error-block__error__link{
            font-size: 18px;
            color: $secondary-text-color;
            margin-bottom: 100px;
        }
    }
    .error-footer{
        position: relative;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width:100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    @media(max-width:762px){
        margin: auto;
        bottom: -20px;
        margin-left: -10px;
        }
    @media(max-width:761px){
        margin-top: 40px;
    }    
    @media(max-width:375px){
        bottom: 0px;
        margin-top: 50px;
    }    
        p{
            font-size: 25px;
            font-family: $main-font-familiy;
            color: white;
            text-align: center;
            margin-top: 60px;
            @media(max-width:430px){
                font-size: 16px;
            }
            @media(max-width:376px){
                margin-top: 30px;
                width: 80%;
                font-size: 12px;
                margin-left: 20px;
            }
        }
        img{
            width: 30%;
            margin-left: 150px;
            object-fit: cover;
            margin-top: 50px;
            @media(max-width: 430px){
                width: 50%;
                margin-left: 70px;
            }
            @media(max-width:376px){
                width:90%;
                margin-left: 10px;
            }
        }    
    }
}    


