@import "./Variables.scss";

footer{
    width: 100%;
    background-color: black;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 208px;
}

footer p {
    font-size: 25px;
    font-family: $main-font-familiy;
    color: white;
    text-align: center;
    margin-top: 60px;
}

img{
    width: 10%;
    object-fit: cover;
    margin-top: 50px;
}