.app{
    width: 100%;
    .app__app-grid{
        width: 86%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        flex-wrap: wrap;
        background-color: #f6f6f6;
        border-radius: 25px;
        margin-bottom: 60px;
        padding-bottom: 10px;
        padding-top: 180px;
        margin-left: 150px;
    }
}
