@import "./Variables.scss";

.tag{
    font-family: $main-font-familiy;
    color: $third-text-color;
    background-color: $main-text-color;
    font-size: 14px;
    font-weight: 700;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 9.5vw;
    text-align: center;
    @media(max-width:930px) {
        width: 13vw;
    }
    @media(max-width:600px){
        width: 12vw;
    }
    @media(max-width: 540px){
        width: 18vw;
    }
    @media(max-width:460px){
        width: 21vw;
    }
    @media(max-width:415px){
        width: 25vw;
    }
}

